# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are :
1. R
2. python
3. scala
4. julia

some of the commonly used libraries used by data scientists include:
1. pandas
2. tensorflow
3. matplotlib

|Data Science Tools|
|------------------|
|Jupyter|
|R studio|
|google colb|
|getHup|

### Below are few example of evaluting arthmetic expression in python

In [ ]:
#this is simple arthmetic expression to mutiply then add integers 
(3*4)+5

In [ ]:
#this will convert 200 minutes to hours by diving by 60
min=int(input("enter num of minutes"))
hours= min/60
print(hours)

**objective:**

list popular languages for data science
- python
- java
- R
- SQL

## Author

Ranwah Sadik